body {
    background-color: var(--cream, #FFF9F0);
    margin: 0;
    padding: 0;
}

H1 {
    font-family: "spirits-soft", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
    color: var(--brown, #3E3A36);
}