body {
    margin: 0;
    padding: 0;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    text-align: center;
    margin: 20%;
    z-index: 100;
}

h1 {
    font-family: "salo-variable", sans-serif;
    font-variation-settings: "opsz" 1;
    font-size: 8rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1rem;
    margin: 0;
}

p {
    margin-top: 30px;
    font-size: 18px;
    padding: 0 40px;
    text-align: center;
}

.parallax-container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.parallax-img{
    position: absolute;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease-out;
    animation: moveSlowly 30s infinite alternate;
}

@keyframes moveSlowly {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, 30px); /* Adjust the values as needed */
    }
    100% {
        transform: translate(0px, 15px);
    }
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: 80px;
}

#sq {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: 0;
    margin: 0;
}



#buttonContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    left: 50%;
    width: auto;
    z-index: 100;
}

#backButton {
    display: none;
    padding: 10px;
    background: transparent;
    color: #000000;
    border: none;
    font-family: "salo-variable", sans-serif;
    font-size: 40px;
    font-weight: 500;
}

#chart {
    padding: 80px 80px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

#timeline {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin: 5% 25%;
    height: 200px;
    padding: 40px 0;
    height: 100%;
}

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 16px;
    margin-top: 40px;
}

label {
    font-size: 14px;
    padding: 10px 16px;
}

#people-thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    grid-auto-rows: 50px;                 /* Sets a fixed height for grid items */
    gap: 5px;
    justify-content: center;
}

#women-thumbnails {
    width: 40%;            
    box-sizing: border-box; 
    display: flex;       
    flex-direction: row;  
    flex-wrap: wrap;      
    align-items: flex-start;
    

    
}

#men-thumbnails {
    width: 40%;           
    box-sizing: border-box; 
    display: flex;        
    flex-direction: row;  
    flex-wrap: wrap;     
    align-items: flex-start; /* Align items at the top */
   
}

.person-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 10px; 
}

.person-name {
    font-size: 14px;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's on top */
}

#modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#close-modal {
    font-size: 30px;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}
#modal4
{
    color: rgb(26, 150, 109);
    text-decoration: none;
}
