body{
    margin: 0;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;

}

#chart{
    padding: 80px;
    display: flex;
    flex-direction: row;
}

.toggle{
    height: 40px;
    color: none;
    background: none;
    border-color: black;
    border-width: 2px;
    border-radius: 24px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.title{
    text-align: center;
    margin-top: 40px;
}

 body{
    height: 100%;
    margin: 0;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    flex-direction: column;
    padding: 0;
}
.content-wrapper {
    flex: 1; /* This makes the content-wrapper take up the available space */
}

#chart{
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

#filter{
    padding: 40px;
    padding-bottom: 0;
}

.toggle{
    height: 40px;
    width: 120px;
    border: none;
    border-width: 2px;
    border-radius: 24px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.title{
    text-align: center;
    margin-top: 25vh;
}

h1{
    font-family: "salo-variable", sans-serif;
    font-variation-settings: "opsz" 1;
    font-size: 8rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
   margin-bottom: 0px;
    
}

p{
    margin-top: 30px;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    text-align: center;
    
}

.title-gif{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 20%;

}

.img-gif {
    height: 100vh; /* Make the image fill the viewport height */
    width: auto;   /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the container without stretching */
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: 80px;
}

#sq{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 6px;
    position: relative;
    bottom: 0;
    
}



label{
    text-align: center;
    text-wrap: nowrap;
    font-size: 14px;
    padding: 10px 16px;
}

/* Add this CSS to your styles.css file or in a <style> tag in your HTML */

#people-thumbnails {
    display: flex;             /* Use flexbox for horizontal layout */
    flex-wrap: wrap;          /* Allow items to wrap if they exceed the container's width */
    gap: 10px;                /* Optional: Add some space between thumbnails */
}

.person-thumbnail {
    display: flex;            /* Use flexbox for aligning the image and text */
    flex-direction: column;   /* Align items in a column within each thumbnail */
    align-items: center;      /* Center items horizontally */
}