* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 1280px;
    background-color: #F9F3EE;
}

h1,h2 {
    font-family: "miss-fajardose-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}

h1{
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
    margin: 0;
}

h3{
    margin: 0;
    line-height: 100%;
}

img{
    object-fit: cover;
}

#intro, #outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #182619;
}

#card {
    width: 800px;
    height: 480px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin: 40px;
    background-color: #F9F3EE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#scrolly {
    position: relative;
}


#filter, #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 80px;
}

article {
    position: relative;
    padding: 0;
    max-width: 50%;
    margin: 0 auto;
    z-index: -1;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    margin: 0;
    overflow: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.row {
    display: flex;
    flex-direction: row;
    gap: -1rem;
}

.element {
    display: flex;
    flex-direction: row;
}

.step{
    padding: 200px 0;
}

.step p {
    text-align: center;
    padding: 1rem;
    background-color: #F9F3EE;
}

.group-title {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
    transition: transform 0.3s ease;
}


.occasion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4px;
    cursor: pointer;
}

.occasion:hover .group-title {
    font-size: large;
    transform: none;
}

.occasion:hover .row {
    transform: scale(1.2);
    transform-origin: left;
}


.swatch {
    width: 5px;
    max-width: 40px;
    height: 48px;
}

.swatch2 {
    width: 2.3px;
    max-width: 40px;
    height: 48px;
}

button{
    padding: 8px;
    margin: 8px;
    background-color: transparent;
    color: #182619;
    border-color: #182619;
    cursor: pointer;
}

button:hover {
    background-color: #182619;
    color: #F9F3EE;
}

#envelope {
    padding-top: 80px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px;
    margin: 0;
    background-color: #182619;
    color: #F9F3EE;
}

.vibrant-canvas {
    display: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }